*.httr-oauth
*.Rproj.user
*.pdf
*.xlsx
*.rds
*.Rhistory
*.RData
*.DS_Store
.Rproj.user
bld/
cutouts/*
results/*
data/*
seth-notes/
!data/sa_meta_data_raw.csv
!data/codebook.csv
!codebook.pdf
notes/*
figures/*